.container {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    background-color: var(--purple-dark);
    font-family: "Amiko", sans-serif;
    text-decoration: none;
    color: var(--white);
    padding: 20px;
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.5fr;
    gap: 20px;
    transition: 0.5s;

    h3 {
        text-align: center;
        font-size: 1.5em;
    }

    p {
        align-self: center;
        font-size: 1em;
    }

    div {
        h4 {
            font-size: 1em;
        }

        a {
            text-decoration: none;
            color: var(--white);
            font-size: 0.8em;
            transition: 0.5s;
        }
    }

    &:hover {
        width: 410px;
        height: 310px;
        background-color: var(--purple);
        box-shadow: 0 0 2em var(--purple);
    }
}

@media (max-width: 550px) {
    .container {
        width: 300px;
        height: 250px;

        h3 {
            max-width: 260px;
            font-size: 1em;
        }

        p {
            max-width: 260px;
            font-size: 0.8em;
        }

        div {
            h4 {
                font-size: 0.8em;
            }

            a {
                font-size: 0.65em;
            }
        }

        &:hover {
            width: 310px;
            height: 260px;
        }
    }
}

@media (max-width: 370px) {
    .container {
        width: 250px;
        height: 200px;

        h3 {
            max-width: 210px;
            font-size: 0.8em;
        }

        p {
            max-width: 210px;
            font-size: 0.6em;
        }

        div {
            h4 {
                font-size: 0.6em;
            }

            a {
                font-size: 0.5em;
            }
        }

        &:hover {
            width: 310px;
            height: 260px;
        }
    }
}
