.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 40px 40px 40px 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../../public/background.png");
    background-size: 100%;
    transition: 0.5s;
    z-index: 1;
    opacity: 0;
    transform: translateY(-5em);
    animation-name: showElement;
    animation-delay: 4.5s;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;

    .logo {
        font-size: 1.5em;
        color: var(--white);
        font-family: "Montserrat", sans-serif;
        font-style: italic;
        font-weight: 700;
        text-decoration: none;
        outline: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            position: relative;
            list-style: none;
        }

        li a {
            position: relative;
            display: inline-block;
            outline: none;
            margin: 0 15px;
            color: #f4f9ff;
            text-decoration: none;
            text-transform: capitalize;
            font-family: "Amiko", sans-serif;
            font-weight: 400;
            font-size: 0.9em;
            color: var(--white);
        }

        li .languageButton {
            background-color: var(--purple);
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

@keyframes showElement {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

//* tablet screen size
@media (max-width: 1000px) {
    .headerContainer {
        padding: 40px 20px 40px 40px;

        .logo {
            font-size: 1.2em;
        }

        .toggleButton {
            width: 40px;
            height: 40px;
            background: url("../../../public/menu.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
            cursor: pointer;
        }

        .toggle.active {
            background: url("../../../public/close.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
            cursor: pointer;
        }

        .menu {
            position: fixed;
            top: 80px;
            left: -100%;
            display: flex;
            flex-direction: column;
            padding: 0 50px 200px;
            text-align: center;
            width: 100%;
            height: 100vh;
            background: var(--dark-blue);
            background-size: cover;
            transition: 0.5s;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
        }

        .menu.active {
            left: 0%;
        }

        .toggleButton {
            filter: invert(1);
        }
    }
}
