.container {
    width: 100%;
    height: 100vh;
    background: url("../../../public/background.png");
    background-size: cover;
    position: absolute;
    z-index: 2;
    animation-name: loadingAnimation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: "Amiko", sans-serif;
        font-size: 2em;
    }
}

@keyframes loadingAnimation {
    0% {
        color: transparent;
    }
    25% {
        color: var(--white);
    }
    75% {
        color: var(--white);
    }
    100% {
        background: transparent;
        color: transparent;
    }
}

@media (max-width: 1000px) {
    .container {
        h1 {
            font-size: 1.5em;
        }
    }
}

@media (max-width: 750px) {
    .container {
        h1 {
            font-size: 1.2em;
        }
    }
}

@media (max-width: 550px) {
    .container {
        h1 {
            font-size: 1em;
        }
    }
}

@media (max-width: 400px) {
    .container {
        h1 {
            font-size: 0.8em;
        }
    }
}
