.container {
    background-color: var(--purple);
    border-radius: 20px;
    padding: 40px;
    padding-bottom: 40px;
    font-family: "Amiko", sans-serif;
    color: var(--purple-light);
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    
    .icon {
        justify-self: center;
        align-self: center;
    }

    .content {
        justify-self: center;

        h3 {
            font-size: 1.4em;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            font-size: 1em;
        }
    }
}

@media (max-width: 1050px) {
    .container {
        .content {
            h3 {
                font-size: 1.2em;
            }

            p{
                font-size: 0.9em;
            }
        }
    }
}

@media (max-width: 750px) {
    .container {
        .content {
            h3 {
                font-size: 1.1em;
            }

            p{
                font-size: 0.8em;
            }
        }
    }
}

@media (max-width: 550px) {
    .container {
        .content {
            h3 {
                font-size: 1em;
            }

            p{
                font-size: 0.7em;
            }
        }
    }
}